*.pyc
*.pyo
__pycache__/

myenv/
.env/

.vscode/
.idea/

.DS_Store

Thumbs.db

*.log

.coverage
*.tox
*.nox
*.coverage
*.hypothesis/

.ipynb_checkpoints/

Dockerfile
docker-compose.yml
*.env

build/
dist/
*.egg-info/
